# Application
NODE_ENV=development
APP_PORT=3000
CORS_ORIGIN=http://localhost:4200

# SQLite Database
SQLITE_PATH=sim.db
SQLITE_RUN_MIGRATION=false
SQLITE_RUN_SYNCHRONIZE=true
SQLITE_ENTITIES=dist/**/*.entity.js

# PDF Storage Paths
PDF_SLIP_PATH=./pdfs/slips
PDF_BILL_PATH=./pdfs/bills
