<div class="row animated fadeIn justify-content-center">
    <div class="col-12 col-md-5 pl-0 pl-md-3 pr-0 pr-md-3" style="max-width: 460px;">

        <form class="form-horizontal" [formGroup]="InputForm" style="margin-bottom: 1.5rem;">
            <div class="form-group row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text samewidth">Kunde:</span>
                        </div>
                        <ng-select #customerInput [items]="Customers$ | async" bindLabel="companyName" class="form-control"
                            formControlName="customer" [searchFn]="customSearchFn" placeholder="Wähle Kunde"
                            [ngClass]="{'is-invalid':submitted && f.customer.errors}">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <div class="mt-2">
                                    <h6 class="card-subtitle mb-2 text-muted">{{item.companyName}}</h6>
                                    <small class="ml-2" *ngIf="item.lastName"> {{item.firstName}}
                                        {{item.lastName}}</small>
                                </div>
                            </ng-template>

                            <ng-template ng-label-tmp let-item="item">
                                <span class="ng-value-label">
                                    {{item.companyName}} <small *ngIf="item.lastName"> - {{item.firstName}}
                                        {{item.lastName}}</small></span>
                            </ng-template>
                        </ng-select>

                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text samewidth">Barcode:</span>
                        </div>

                        <input type="text" autofocus class="form-control" formControlName="code"
                            [ngClass]="{'is-invalid':submitted && f.code.errors}" />
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text samewidth">Menge:</span>
                        </div>
                        <input type="number" (click)="$event.target.select()" class="form-control" formControlName="amount"
                            [ngClass]="{'is-invalid':submitted && f.amount.errors}" />
                    </div>
                </div>
            </div>

            <button class="btn btn-primary btn-lg btn-block mt-4" (click)="onSubmit()"> Hinzufügen</button>


        </form>




        <div class="card">

            <div class="card-header ">
                Infos
            </div>
            <div class="card-body ">

                <div class="row">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="fitwidth" scope="row">Name</th>
                                <td> {{Article?.name}}</td>
                            </tr>

                            <tr>
                                <th class="fitwidth" scope="row">Beschreibung</th>
                                <td> {{Article?.description}}</td>
                            </tr>

                            <tr>
                                <th class="fitwidth" scope="row">Lagerstand</th>
                                <td *ngIf="Article?.trackStock; else emptyStock">{{Article?.stock}}</td>
                                <ng-template #emptyStock>   <td>--</td> </ng-template>
                            </tr>

                            <tr>
                                <th class="fitwidth" scope="row">Artikel Nummer</th>
                                <td> {{Article?.artNumber}}</td>
                            </tr>

                            <tr>
                                <th class="fitwidth" scope="row">Typ</th>
                                <td>{{Article?.type}}</td>
                            </tr>


                            <tr>
                                <th class="fitwidth" scope="row">Hersteller</th>
                                <td>{{Article?.supplier}}</td>
                            </tr>

                            <tr>
                                <th class="fitwidth" scope="row">Barcode</th>
                                <td>{{Article?.code}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>